/* Common CSS Start */
body {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}
.d-flex {
    display: flex;
}
.align-v-center {
    align-items: center;
}
/* Common CSS End */

/* Main Header CSS Start */

header.main-header {
    background-color: #0000ff87;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}
.main-header .links a {
    color: #FFF;
    padding: 5px 20px;
    text-decoration: none;
}
.main-header .links {
    list-style: none;
    display: flex;
}

.main-header .search {
background-color: transparent;
border: none;
}
.main-header button.search  {
    width: 34px;
}
.main-header button.search img {
    width: 100%;
}
/* Main Header CSS End ----------------------------*/


/* Main Banner CSS Start */
.section-1{
    background-image: linear-gradient(#0000ff59,#0000ff8a),url(./pic/banner_image.jpg); 
    background-repeat: no-repeat;  
    background-size: cover;
}
.main-banner-section {
    background-position: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 200px;
    color: #FFF;
}
.main-banner-section button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px;
    cursor: pointer;
}

.main-banner-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.block{
    display: block;
}
/* Main Banner CSS End */

/*section2*/
.bannertwo{
    background-color: #0000ff7d;
    color: white;
    padding-top: 30px;
}
.justify-content{
    text-align: center;
}
.justify-content h2{
    font-size: 50px;
}
.main-banner-section2{
    text-align: center;
    padding: 70px;
}

/*section3*/
.bannerthree{
    background-image: linear-gradient(#ffff0069,#ffff00c2),url(./pic/pet_care_banner.png.jpg);
    background-position: center;
    padding-top: 100px;
    color: white; 
    justify-content: space-between; 
}
.main-banner-section3{
    border: 8px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 50px;
    text-align: center;      
}
.pads{
    padding: 100px; 
}
.inside-one{
    text-align: center;
}
.inside-one h2{
    font-size: 50px;
}
.main-banner-section3 h4{
    font-size: 25px;
}


/*section4*/
.bannerfour{
    background-color: dodgerblue;
    background-position: center;
    padding: 100px;
    display: flex;
    color: white;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 135px;
    padding-right: 120px;
    
}
.insidetwo button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px; 
    cursor: pointer;
}
.insidetwo h5 {
    padding-top: 80px;
    font-size: 50px;
}
.content{
    justify-content: space-between;
}

/*section5*/
.banner-five {
    background-color: rgb(90, 150, 210);
    background-position: center;  
    text-align: left;
    color: #FFF;
    padding: 100px 150px;
    justify-content: space-between;
    
}
.inside-three{
    padding-top: 100px;
    align-items: center;
    padding-left: 150px;
    font-size: 18px;
}

.inside-three button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 15px 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 20px;
    cursor: pointer;
}
/* section6*/
.one button {
    background: #d2ba00;
    color: white;
    border: yellow;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 24px;
    margin-top: 25px;
    cursor: pointer;
}
.one{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 5px solid white;
    text-align: center;
    color: #0000ff75;
}
.banner-six{
    background-color:#0000ff80; 
    padding:50px; 
}
.pad{
    padding: 50px;
}
.inside-four {
    text-align: center;
    color:white;
}
.inside-four h2{
    font-size: 50px;
}
/*section7*/
.banner-seven {
    background-color: blue;
    padding: 200px;
    padding-top: 50px;
    color: #FFF;
}
.inside-five{
    text-align: center;
}
.inside-five h2{
    font-size: 50px;
}
.inside img{
    width: 80px;
    height: 80px;
    padding-top: 50px;
    padding-right: 20px;
}
.sectionsub1{
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
    padding-bottom: 50px;
}
.sectionsub2{
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
}

/*section8*/
.banner-eight{
    background-image: linear-gradient(#ffff00b3,#ffff00c2),url(./pic/dr_Jenny.jpg);
    padding: 400px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
}
/*section9*/
.sec9 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.819);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .sec9 > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fa-brands{
    background-color: white;
    color: black;
    border: 8px solid #ffffffd6;
    border-radius: 50%;
}










